.row {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.nav-styles {
  width: 100%;
  background-color: black;
}

.about-style {
  display: inline-block;
  padding-right: 2rem;
}

.catalog-style {
  display: inline-block;
}

li {
  display: inline-block;
}

.text-white {
  color: white;
  list-style: none;
}

#root {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0;
}
