.container {
  width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  width: 100%;
}

.column-fifth {
  flex: 1;
}

li a {
  font-family: 'Tiempos Headline', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: grey;
  text-decoration: none;
  top: 10px;
}

.womenimg {
  margin-top: 50px;
  width: 100%;
  display: block;
  position: relative;
}

.women-container {
  position: relative;
}

.product {
  margin-top: 10px;
}

.implementation {
  margin-top: 10px;
}

.about {
  margin-top: 10px;
}

.blog {
  margin-top: 10px;
}

ul {
  display: flex;
  padding: 0;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
}

.contact {
  color: white;
  padding: 10px;
  background-color: rgb(41, 41, 95);
  border-radius: 10%;
}

.toprightlogo {
  width: 50%;
}

nav {
  border-bottom: 1px solid #ccc;
}

.overlay {
  background: linear-gradient(transparent, rgba(97, 96, 96, 0.75));
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.text-overlay {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  color: white;
  z-index: 2;
  width: 100%;
}

.text-overlay .column-half {
  width: 50%;
  padding-left: 50px;
}

.get-started {
  margin-top: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0.5%;
  border-style: none;
  background-color: rgb(28, 42, 100);
  color: white;
  font-size: 20px;
  font-weight: 200rem;
  font-family: 'Tiempos Headline', Arial, Helvetica, sans-serif;
}
