.container {
  width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column-half {
  flex-basis: calc(100% / 2);
}

.column-full {
  width: 100%;
}

.column-fifth {
  flex: 1;
}

li a {
  font-size: 18px;
  text-decoration: none;
}

ul {
  display: flex;
  padding: 0;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
}
